* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.6rem;
    height: 100vh;
    width: 100vw;
    background-color: hsl(210, 60%, 98%);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: hsl(0, 0%, 100%);
    height: 80rem;
    width: 70rem;
}

.container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.container__header__new {
    height: 3rem;
    width: 3.5rem;
    font-weight: 800;
    background-color: hsl(219, 85%, 26%);
    color: #fff;
    border-radius: 1rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__header__mark {
    margin-left: auto;
    color: hsl(219, 12%, 42%);
    cursor: pointer;
}