* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.6rem;
    height: 100vh;
    width: 100vw;
    background-color: hsl(210, 60%, 98%);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: hsl(0, 0%, 100%);
    height: 80rem;
    width: 70rem;
}

.container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
}

.container__header__new {
    height: 3rem;
    width: 3.5rem;
    font-weight: 800;
    background-color: hsl(1, 90%, 64%);
    color: #fff;
    border-radius: 1rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__header__mark {
    margin-left: auto;
    color: hsl(219, 12%, 42%);
    cursor: pointer;
}

.container__notification {
    padding: 0 2rem;
}

.container__notification__photo {
    height: 45px;
    margin-right: 2rem;
}

.container__notification__content {
    background-color: hsl(210, 60%, 98%);
    border-radius: 2px;
    margin: 1rem 0;
    padding: 1.5rem 0;
    display: flex;
}

/* FIX POSITIONING OF DOT IN FLEXBOX */


.notificationDot {
    height: 10px;
    width: 10px;
    border-radius: 1rem;
    background-color: hsl(1, 90%, 64%);
    cursor: pointer;
    margin-left: auto;
    transform: translate(15px, -14px);
}

.container__notification__content__time {
    color: hsl(219, 14%, 63%);
}

.user-name {
    font-weight: 900;
}

.group-name {
    font-weight: 900;
    color: hsl(219, 85%, 26%);
}

.pm {
    flex-direction: column;
}

.pm img{
    width: 45px;
}

.hidden {
    display: none !important;
}